<div>
    <div>Welcome to your Bar Chart for X Habit</div>
    <div style="display: block">
        <!-- The baseChart directive here is how you use ngCharts to target for ChartsJs -->
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
    </div>
    <p>Labels for Chart</p>
    <p>This is Day 1: {{day}}</p>
    <p>This is Day 2: {{day2}}</p>
    <ul *ngFor="let label of labels">
        <li>Unqiue Date: {{label}}</li>
    </ul>
</div>